


  <div class="container">
    <input type="checkbox" id="menu-box" class="menu-box"/>
    <label for="menu-box" class="menu-icon">&#9776;</label>
    <ul class="menu">
      <li>
        <a routerLink="/about-us" routerLinkActive="link-active">About Us</a>
      </li>
      <li>
        <a routerLink="/book-appointment" routerLinkActive="link-active">Book Appointment</a>
      </li>
      <li>
        <a routerLink="/our-services" routerLinkActive="link-active">Our Networks</a>
      </li>
      <li>
        <a routerLink="/faqs" routerLinkActive="link-active">Facts & FAQ's</a>
      </li>
      <li>
        <a routerLink="/contact-us" routerLinkActive="link-active">Contact Us</a>
      </li>
      <li>
        <a routerLink="/privacy-policy" routerLinkActive="link-active">Privacy Policy</a>
      </li>
    </ul>
  </div>

  <div class="container2">
<div style="display: flex;align-items:center;  ">
  <img src="https://scrapq.com/hyderabad/icons/scrapq.png" routerLink="" class="logo"  />

  
  <div style="width: 50%; display:flex; align-items: center;justify-content: flex-end;">
    <img src="https://scrapq.com/hyderabad/icons/Icons-02.png" alt="mapicon" class="map-icon">
    
      <select class="city" style="text-align: left">
        <option>Hyderabad</option>
        <option>Bengaluru</option>
        <option>Visakhapatnam</option>
      </select>

  </div>


    <div class="social-media-icons">
      <a href="https://www.facebook.com/people/Click2Clean/100091928115575/?mibextid=LQQJ4d" target="_blank"
        rel="noreferrer">
        <img src="https://scrapq.com/hyderabad/icons/Icons-01.png" height="25" width="25" />
      </a>
      <a href="https://twitter.com/click2clean_aw?s=11&t=d_mslZ7X0sEdC4o5Xsg7eQ" target="_blank" rel="noreferrer">
        <img src="https://scrapq.com/hyderabad/icons/Icons-03.png" height="25" width="25" />
      </a>
      <a href="https://www.instagram.com/click2clean.in/?igshid=YmMyMTA2M2Y" target="_blank" rel="noreferrer">
        <img src="https://scrapq.com/hyderabad/icons/Icons-04.png" height="25" width="25" />
      </a>
      <a href="https://in.pinterest.com/clicktoclean3/" target="_blank" rel="noreferrer">
        <img src="https://scrapq.com/hyderabad/icons/Icons-05.png" height="25" width="25" />
      </a>
    </div>

</div>    
</div>

