
<footer>
    <div class="row">
      <div>
        <h3>ScrapQ Hub Pvt Ltd</h3>
        <small>ScrapQ HeadQuarters</small>
        <p style="white-space: pre-line; line-height: 1.4; font-size: 0.9rem;">
          {{address}}
        </p>
  
       
        <div  style="gap: 5px; justify-content: flex-start;"><div >phone</div>
          <a href="tel:+040 30 70 70 70,+91 90 30 72 72 77">040 30 70 70 70,+91 90 30 72 72 77</a>
        </div>
      </div>
  
     
     
      <a class="link-active">Copyright 2020 ScrapQ</a>
    </div>
  </footer>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  